@import "tailwindcss";

@font-face {
  font-family: "Merchant Copy";
  src: url("/fonts/Merchant Copy Doublesize.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #adee5d;
  --foreground: #423d2c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #423d2c;
  --foreground: #adee5d;
  }
}

html,
body {
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  padding: 1rem; 
  padding-top: calc(1rem + env(safe-area-inset-top));
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
  padding-left: calc(1rem + env(safe-area-inset-left));
  padding-right: calc(1rem + env(safe-area-inset-right));
}
